
body{
  font-family: 'Open Sans', sans-serif;
}
            




.mydiv{

}

.mycontainer{

}

.mynavbar{


}

.navbar-brand{
margin-left:  20px; 
font-size: 40px;
font-weight: 400;
}

.mylink{

    font-size: 13px;
    margin-right: 20px;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
      color: #222222;
 
}

.myschrift{
  
font-family: 'Raleway', sans-serif;
font-size: 48px;
font-weight: 400;
line-height: 60px;

text-transform: capitalize;

}

.mypara{
font-family: 'Open Sans', sans-serif;
font-size: 25px;
font-weight: 400;
line-height: 32px;
margin-bottom: 29px;
}

.mybtn1{
 
  margin-right: 15px;
}

.mybtn2{
  
}

.myimg{
  margin-left: 40px;
}

.myschreiben{
  font-family: 'Raleway', sans-serif;
  color: #222222;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.myparagraf{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  padding: 0 30px;
  color:#999999;
}

.mycard{
margin-left: 50px;
}

.myicon{
margin-left: 130px;
color: #2196f3;
}

.card-title{
  font-family: 'Raleway', sans-serif;
  color: #222222;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 19px;
  text-transform: capitalize;
}

.card-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: #999999;
}

.mycard2{

}

.mycard3{
  
}


/* .full-section{
  background-color: #F8F8F8;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  display: block;
  box-sizing: border-box; */
/* } */

.mytitel{
font-family: 'Raleway', sans-serif;
color: #222222;
font-size: 36px;
font-weight: 700;
line-height: 1;
margin-bottom: 30px;
text-transform: capitalize;
}

.myuntertitel{
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-bottom: 0;
padding: 0 30px;
color: #999999;
margin: 0 0 10px;
}

.myfoto{
  margin-left: 250px;
  margin-top: 50px;
}

.mynumber{
color: #2196F3;
padding-top: -20px;
margin-left: 60px;


}

.mydiv1{
 margin-left: 60px;
}

.myheader{
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 15px;
  
  color: #222222;
}

.myphrase{
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  padding: 0;
  margin-bottom: 0;
  color: #999999;
}

.myschlagzeile{
  font-family: 'Raleway', sans-serif;
  color: #222222;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  text-transform: capitalize;
  margin: 0 0 28px;
}

.mysentence{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  padding: 0 30px;
  color: #999999;
  margin: 0 0 10px;
}

.card{
  border-radius: 6px;
background-color: #f8f8f8;
padding: 20px;
box-sizing: border-box;
margin-left: 40px;
}

.card:hover{
  background-color: #2196F3;
}

.card-text{
  color: #aaaaaa;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-bottom: 0;

}

.mysmith{
  color: #222222;
font-size: 17px;
font-weight: 700;
line-height: 18px;
margin-bottom: 0;
text-transform: capitalize;
margin: 0 0 28px;
font-family: 'Raleway', sans-serif;
margin-left: 70px;
padding-top: 20px;
}

.mystar{

}

.mystern{
  color: #f3be3c;
font-size: 12px;
line-height: 18px;
margin: 0 2px;
margin: 10px;
}

.mynicole{
  color: #222222;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  text-transform: capitalize;
  margin: 0 0 28px;
  font-family: 'Raleway', sans-serif;
  margin-left: 60px;
  padding-top: 20px;
}



