
body{

}
            




.mydiv{

}

.mycontainer{

}

.mynavbar{


}

.navbar-brand{
margin-left:  20px; 
font-size: 30px;
font-weight: 400;
}

.mylink{

    font-size: 13px;
    margin-right: 20px;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
      color: #222222;
 
}
